.appbar {
  position: fixed;
  top: 0px;
  z-index: 10;
  padding: 0 100px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s;

  & > div {
    cursor: pointer;
    padding: 15px 17px;
    margin-bottom: 3px;

    &:hover {
      margin-bottom: 0;
      border-bottom: 3px solid;
    }
  }
}

.about {
  position: relative;
  background-color: #4e4e4e;

  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 45%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/profile-picture.webp);
    right: 0px;
    opacity: 0.27;
  }
}
