.page {
  font-size: 12px;

  td {
    padding: 3px;
  }

  input {
    width: 100%;
    padding: 5px;
  }

  circle {
    animation: countdownanimation 10s linear;
    color: white;
  }
}

@keyframes countdownanimation {
  from {
    stroke-dashoffset: 0px;
  }
  to {
    stroke-dashoffset: 151px;
  }
}
